
<div class="content">
    <div class="container">
        <form [formGroup]="forgotForm" (ngSubmit)="forgot()" class="forgot-form">
            <h1>Forgot Password</h1>
            <input type="email" placeholder="Email" class="input-field" formControlName="email">
            <!-- <input type="password" placeholder="Password" class="input-field" formControlName="password"> -->
            <button type="submit" class="forgot-button" (click)="forgot()">Forgot Password</button>
            <div class="d-flex">
                <a routerLink="/login" class="forgot-password">Login?</a>
                <a routerLink="/signup" class="forgot-password ms-auto">Sign Up?</a>
            </div>
        </form>
        <div class="finance-image">
            <img src="../../../assets/forgot-password-concept-isolated-white_263070-194.avif" alt="Forgot Password Image">
        </div>
    </div>
</div>

