<div class="main-container d-flex bg-primary">
    <mat-icon class="menu-icon" (click)="navClicked()">menu</mat-icon>
    <div routerLink="/home" class="title" style="cursor: pointer;">
        Men's Fashion
    </div>
    <div class="icon">
        <img src="../../../assets/3d-price-tag-with-two-color-free-png.webp" alt="">
    </div>
    <div class="info ms-auto">
        <img src="../../../assets/images.png" alt="">
        <span routerLink="/login" class="profile">{{profileCondition}}</span>
    </div>
</div>